body {
  max-width: 940px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
}

div {
  padding: 1rem;
  background-color: #fff;
}
h1 {
  color: white;
  font-size: 7vw;
  font-weight: 400;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}
img {
  max-width: 200px;
}
form {
  /* margin: 1rem; */
}
input,
textarea {
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  width: 90%;
  padding: 0.5rem;
}
button {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
  background: #007eb6;
}
.loading {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: url('../img/spinner.svg') 100% 100% no-repeat;
}